/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #2F3742; color: #fff; text-shadow: none; }
::selection { background: #2F3742; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a {
  color: #222;
  text-decoration: none;
  border-bottom: rgba(128,128,128,0) 1px dotted;
  transition: 1000ms;
  -moz-transition: 1000ms;
  -webkit-transition: 1000ms;
  -o-transition: 1000ms;
}

a:hover {
  border-bottom: rgba(128, 128, 128, 1) 1px dotted;
  transition: 1000ms;
  -moz-transition: 1000ms;
  -webkit-transition: 1000ms;
  -o-transition: 1000ms;
}

footer  a {color: #666666;}

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word;}

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre > code {font-size: 12px;}
pre {padding-left: 0.5em;}
code {font-size: 12px;}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic;}

/*
 * Correct overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Martin Richard, Paul Adenot
   ========================================================================== */

/* Custom fonts */

@font-face {
    font-family: 'TeXGyrePagellaRegular';
    src: url('fonts/texgyrepagella-regular-webfont.eot');
    src: url('fonts/texgyrepagella-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-regular-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-regular-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-regular-webfont.svg#TeXGyrePagellaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyrePagellaItalic';
    src: url('fonts/texgyrepagella-italic-webfont.eot');
    src: url('fonts/texgyrepagella-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-italic-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-italic-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-italic-webfont.svg#TeXGyrePagellaItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyrePagellaBold';
    src: url('fonts/texgyrepagella-bold-webfont.eot');
    src: url('fonts/texgyrepagella-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-bold-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-bold-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-bold-webfont.svg#TeXGyrePagellaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyrePagellaBoldItalic';
    src: url('fonts/texgyrepagella-bolditalic-webfont.eot');
    src: url('fonts/texgyrepagella-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyrepagella-bolditalic-webfont.woff') format('woff'),
         url('fonts/texgyrepagella-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/texgyrepagella-bolditalic-webfont.svg#TeXGyrePagellaBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Typo and styles */
body {
  font-family: "TeXGyrePagellaRegular", Georgia,"Times New Roman",serif;
  font-size: 16px;
}

em {
  font-style: normal;
  font-family: "TeXGyrePagellaItalic", Georgia,"Times New Roman",serif;
}

em strong, strong em {
  font-family: "TeXGyrePagellaBoldItalic", Georgia,"Times New Roman",serif;
}

strong {
  font-family: "TeXGyrePagellaBold", Georgia,"Times New Roman",serif;
}

body > header > div > nav {
  /*font-family: Helvetica,Arial,sans-serif;*/
}

/* Wireframing */
/** Header */
body > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
body > header > div > h1 > a {
  position: relative;
  top: 0.2em;
}
body > header > div {
  display: table;
  width: 90%;
  margin: 0 auto;
}
body > header > div > * {
  display: table-cell;
}
body > header > div > nav > ul {
  list-style: none;
  text-align: right;
  letter-spacing: -1em;
}
body > header > div > nav > ul > li {
  display: inline-block;
  letter-spacing: 0em;
}
body > header > div > nav > ul > li > a {
  display: inline-block;
  padding: 1em 2em;
}

/** Main container */
div#main {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 700px;
  margin-left: auto;
  margin-right : auto;
}
div#main > header {
  padding: 1em 2em;
}
div#main > header > h2 {
  margin: 0;
}
div#main > footer {
  text-align: center;
  padding: 0.1em;
}
div#main > section#content {
  padding: 0 1em;
  line-height: 1.4em;
}

div#main > section#content p a,
div#main > section#content li > a {
  border-bottom: rgba(128, 128, 128, 1) 1px dotted;
  transition: 1000ms;
  -moz-transition: 1000ms;
  -webkit-transition: 1000ms;
  -o-transition: 1000ms;
}

div#main > section#content p a:hover,
div#main > section#content li > a:hover {
  transition: 500ms;
  -moz-transition: 500ms;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  text-shadow: 0px 1px 1px #888;
}

/** Easter egg */
body > p {
  text-align: center;
}

/** Post page */

aside.postInfo {
  width: 45%;
  float: right;
  position: relative;
  margin-left: 1em;
  margin-bottom: 1em;
}

aside.postInfo ul {
  line-height: 1.5em;
}

aside.postInfo > .meta,
  aside.postInfo > div.related-posts {
  position: relative;
}
aside.postInfo > div.related-posts {
  clear: both;
}
div#main > #totoc {
  position: fixed;
  bottom: 2em;
  right: 5em;
  font-weight: 700;
}

div#main > #totoc > a {
  font-weight: 700;
  text-decoration: none;
  font-size: 3em;
  -webkit-transition: text-shadow 1s ease-in-out;
  -moz-transition: text-shadow 1s ease-in-out;
  -o-transition: text-shadow 1s ease-in-out;
  -ms-transition: text-shadow 1s ease-in-out; 
  transition: text-shadow 1s ease-in-out;
  text-shadow: none;
}

div#main > #totoc > a:hover {
  border-bottom: none;
  opacity: 1;
  -webkit-transition: text-shadow 1s ease-in-out;
  -moz-transition: text-shadow 1s ease-in-out;
  -o-transition: text-shadow 1s ease-in-out;
  -ms-transition: text-shadow 1s ease-in-out; 
  transition: text-shadow 1s ease-in-out;
  cursor: pointer;
  text-shadow: 0px 0px 10px black;
  border: none;
}

div.meta .tags a{
}

/** List pages */
.list section#content > ol {
  padding: 0;
}

/* Colors and page styles */
body {
  background: #F6F6F6;
}

/** Header */
body > header {
  background: rgba(205,206,209, 0.3);
  border-bottom: 1px #A3A177 solid;
}
body > header > div > nav > ul {
  border-right: 1px #A3A177 dotted;
}
body > header > div > nav > ul > li {
  border-left: 1px #A3A177 dotted;
  transition: background 800ms ease;
  -moz-transition: background 800ms ease;
  -o-transition: background 800ms ease;
  -ms-transition: background 800ms ease;
  -webkit-transition: background 800ms ease;
}

body > header > div > nav > ul > li:hover {
  border-left: 1px #A3A177 dotted;
  background: rgba(205,206,209, 0.8);
  transition: background 800ms ease;
  -moz-transition: background 800ms ease;
  -o-transition: background 800ms ease;
  -ms-transition: background 800ms ease;
  -webkit-transition: background 800ms ease;
}

body > header > div > nav > ul > li > a.current {
  font-weight: bold;
}
body > header > div > h1 > a:hover {
  text-shadow: 0px 0px 1px #FFFFFF !important;
}
body > header > div > h1 > a:hover {
  text-shadow: 0px 0px 1px #10101C;
  color: #666;
}
body > header > div > h1 > a:hover {
  border-bottom: none;
}
body > header > div > h1 > a > .tag {
  color: #CC0000;
}

/** Main container */
div#main {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
}
div#main > header {
  border-bottom: 1px #CCCCCC solid;
  background: #EAECEF;
  color: #333333;
  text-shadow: 1px 1px #FFFFFF;
}
div#main > footer {
  border-top: 1px #CCCCCC solid;
  background: #EAECEF;
  color: #666666;
  text-shadow: 1px 1px #FFFFFF;
}



/** Easter egg */
body > p {
  color: #DDD;
  text-shadow: 1px 1px #FFF;
}

/** Post page */
aside.postInfo > .meta,
aside.postInfo > div.related-posts {
  padding: 1em;
  border-left: 1px #CCCCCC solid;
  background: #EAECEF;
  color: #333333;
  box-shadow: 0 1px 0 #FFFFFF inset;
  border-radius: 4px;
}
aside.postInfo > div:last-child {
  border-bottom-left-radius: 4px;
}

nav.tags {
  display: inline;
  font-family: sans;
  font-size: 0.6em;
  line-height: 1.2em;
  list-style: none;
  margin-right: 0.5em;
  padding: 3px;
}
nav.tags a {
  -moz-transition: box-shadow 0.5s ease-in-out;
  -ms-transition: box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  -webkit-transition: box-shadow 0.5s ease-in-out;
  background: #EAECEF;
  border-radius: 4px;
  border: 1px solid gray;
  box-shadow: 2px 2px 3px #888888;
  color: #333333;
  margin-right: 0.5em;
  margin-top: 0.5em;
  padding: 2px;
  text-decoration: none;
  text-shadow: none;
}

nav.tags a:hover {
  box-shadow: 2px 2px 10px #888888;
  -webkit-transition: box-shadow 0.5s ease-in-out;
  -moz-transition: box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  -ms-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
}
aside.postInfo {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
aside.postInfo > .meta {
  border-bottom: 1px #CCCCCC solid;
}

section#content > ul{
  list-style: circle;
}

section#content > ul#markdown-toc {
  list-style: none;
  margin-left: -1em;
  padding-bottom: 1.2em;
}
div.related-posts > ul {
  margin-left: -1em;
}
.meta > ul,
div.related-posts > ul {
  list-style: none;
}

.meta > ul > li {
  margin-left: -1em;
}

.meta > ul > li:before, 
section#content > ul#markdown-toc > li:before,
div.related-posts li:before {
  content: "∘  ";
}

section#content > #markdown-toc:before {
  content: "Table of contents";
  font-size: 1.6em;
  font-weight: normal;
  line-height: 2.8em;
  margin-left: -1em;
}
aside.postInfo > div.related-posts {
    border-bottom: 1px #CCCCCC solid;
}

#totoc a {
  color: #000000;
  text-shadow: 1px 1px #FFFFFF;
}

#main .withcaption img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 8px #888888;
}

#main .withcaption p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

#main  #content img {
  display: block;
  max-width: 100%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#main #content img {
  border-radius: 4px;
  box-shadow: 3px 3px 8px #888888;
}
.nextprev a {
  white-space: nowrap;
  width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1em;
}

.nextprev .next {
  float: right;
  text-align: right;
}

.nextprev .prev {
  float: left;
  text-align: left;
}

/** List pages */
.list article > h2 > a {
  text-decoration: none;
  color: #333333;
}
.list section#content > ol > li {
  border-bottom: 1px #CCCCCC solid;
}
.list section#content > ol > li:last-child {
  border: 0;
}


/** Header */
body > header > div > h1 {
  font-weight: normal;
  letter-spacing: -0.025em;
}
body > header a:link, body > header a:visited, body > header a:active {
  text-decoration: none;
  color: #10101C;
  text-shadow: 1px 1px #FFFFFF;
}

/** Main container */
div#main > header {
  font-size: 1.6em;
}
#content {
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

/** Titles */
div#main h1, div#main h2, div#main h3, div#main h4, div#main h5, div#main h6, section#content > #markdown-toc:before {
  letter-spacing: -0.025em;
}
#content h1 {
  font-size: 2em;
  font-weight: normal;
  line-height: 1.2em;
}
#content h2 {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.2em;
}
#content h3 {
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.2em;
}
#content h4 {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.2em;
}
#content h5 {
  font-size: 1.2em;
  line-height: 1.2em;
}
#content h6 {
  font-size: 1em;
}
aside.postInfo h3 {
  padding-left: 15px
}
/** Classes and effects */
#content pre, #content code {
  font-family: Monaco, monospace;
}
#content pre {
  line-height: 1.2em;
}
#content a:link, #content a:active, #content a:visited, #content a:hover {
  text-shadow: 1px 1px #DDDDDD;
}
#content a:link, #content a:active, #content a:visited {
  text-decoration: none;
  /*background: rgba(128, 128, 128, 0.3);*/
  /*
  border-bottom: 1px #333333 dotted;
  */
}
/* Sexy effects */
body > header a {
  transition: background 400ms ease;
  -moz-transition: background 400ms ease;
}
body > header > div > h1 > a {
  transition: text-shadow 400ms ease, color 400ms ease;
  -moz-transition: text-shadow 400ms ease, color 400ms ease;
  -webkit-transition: text-shadow 400ms ease, color 400ms ease;
  -o-transition: text-shadow 400ms ease, color 400ms ease;
}

#content a:not(nav.tags) {
  transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -webkit-transition: background 250ms ease;
  -o-transition: background 250ms ease;
}

section#content > ol > li {
  list-style: none outside none;
}

/* Importations */
@import url('syntax.css');

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* text obfuscation */
.obf {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-family: Monospace;
  font-size: 0.8em;
}

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
