---
layout: content
class: list
---

<div id="prelude">
  <p>On this page, you will see articles written about the topic {{page.tag}},
  but you can have a look to the <a href="/tag/">tags list page</a> to see our
  other articles.</p>
  <p>You can subscribe to our <a href="/tag/{{page.tag}}/rss.xml">RSS</a> or
  <a href="/tag/{{page.tag}}/atom.xml">Atom</a> feed.</p>
</div>
<ol>
  {% for post in site.tags[page.tag] %}
  <li>
  <article><h2><a href="{{post.url}}">{{post.title}}</a></h2>
  <div class="meta">
    <ul>
      <li>Published on {{post.date|date_to_string}} by <a href="/by/{{post.byline|downcase}}">{{post.byline}}</a></li>
      {% if post.tags %}
      <li>Tags:
        <nav class="tags">
          {% for tag in post.tags %}<a href="http://{{tag|downcase}}.isbullsh.it/">{{tag|capitalize}}</a>{% endfor %}
        </nav>
      </li>
      {% endif %}
  </div>
  {% if post.abstract %}<p>{{post.abstract}}</p>{% endif %}
  </article></li>
  {% endfor %}
</ol>
