---
layout: base
---

<div id="content">
  <div class="post">
    <div class="post-meta">
      <span class="author">by <a href="/contact">{{ page.author }}</a></span>
      <span class="date">{{ page.date | date_to_string }} | </span>
      <span class="tags">
	Tags: 
	  {% for tag in page.tags %}
	    <a href="/tag/{{ tag | replace:' ', '-' | downcase }}">{{ tag }}</a>
	    {% if forloop.last == false %},{% endif %}
	{% endfor %}
      </span>
    </div>
    
    {{ content }}
  </div>

  <div class="nextprev clearfix">
    <a class="prev" href="{{ page.previous.url }}"><span>{{ page.previous.title }}</span><br/>&larr; Previous Entry</a>
    <a class="next" href="{{ page.next.url }}"><span>{{ page.next.title }}</span><br/>Next Entry &rarr;</a>
  </div>

  
  <div class="related-posts section">
    <h3 class="uppercase-title">Related Posts</h3>
    <ol>
      {% for post in site.related_posts limit:site.related_limit %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ol>
  </div>
</div>
  
  <!--<div id="comments" class="section">
	   <div id="num-responses"><img src="/images/icons/ico_comments.png" alt=""><span class="responses-number">0</span> Responses. <a href="#comments">Add Yours!</a></div>
	   <h3>Discussion</h3>
	   <div id="disqus_thread" name="#comments">
	   </div>
	   <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	   <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>-->

<!--<div id="sidebar">
  {% include intro.markdown %}
  {% include post_tags.markdown %}
  {% include sidebar_tabs.markdown %}
  {% include portfolio.markdown %}
</div>-->
