---
layout: base
class: post
---

<div id="totoc"><a onclick="top()">↥</a></div>
<aside class="postInfo">
  <div class="meta">
    <h3>About the article</h3>
    <ul>
      <li>Written by <a href="/contact/#{{page.byline|downcase}}">{{page.byline}}</a></li>
      <li>Published on {{page.date|date_to_string}}</li>
      {% if page.tags %}
      <li>Tags:
	<nav class="tags">
        {% for tag in page.tags %}
	<a href="http://{{tag|downcase}}.isbullsh.it">{{tag}}</a>
	{% endfor %}
      </nav>
      {% endif %}
    </ul>
  </div>
  {% if site.related_posts %}
  <div class="related-posts">
    <h3>Related posts</h3>
    <ul>
      {% for post in site.related_posts limit:site.related_limit %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  </aside>
<section id="content">
  {% endif %}
  {{ content }}
</section>
{% if page.previous or page.next %}
<aside>
  <div class="nextprev">
    {% if page.previous %}
    <a class="prev" href="{{ page.previous.url }}">{{ page.previous.title }} ←</a>
    {% endif %}
    {% if page.next %}
    <a class="next" href="{{ page.next.url }}">→ {{ page.next.title }}</a>
    {% endif %}
  </div>
  <div class="clearfix"></div>
  {% endif %}
</aside>
<!-- {% if site.related_posts %} -->
<!-- <div class="related-posts"> -->
<!--   <h3 class="uppercase-title">Related Posts</h3> -->
<!--   <ul> -->
<!--     {% for post in site.related_posts limit:site.related_limit %} -->
<!--     <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->
<!--     {% endfor %} -->
<!--   </ul> -->
<!-- </div> -->
<!-- </aside> -->
<!-- {% endif %} -->
